
.tag {
    /* color fix when a tag archive is shown */
    color: $philosophy-text;
}

.s-content__tags {
    /* clear floated images before tags are displayed */
    clear: both;
}

.s-content__main {
    /* Image Alignment */
    figure {
        margin: 1em auto 1.5em;
        img {
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }
        &.alignright {
            margin-left: 1.5em;
        }
        &.alignleft {
            margin-right: 1.5em;
        }
    }
    img {
        &.alignright {
            margin-left: 1.5em;
            margin-right: auto;
        }
        &.alignleft {
            margin-right: 1.5em;
            margin-left: auto;
        }
        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
    }

    /* Gallery Layout */
    .gallery {
        .gallery-item {
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            .gallery-icon a {
                display: block;
                line-height: 0;
            }
            img {
                margin-left: auto;
            }
        }
    }
}

@media (max-width: 480px) {
    .s-content__main {
        .gallery:not(.gallery-columns-1) .gallery-item {
            max-width: 50%;
        }
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    .s-content__main {
        .gallery:not(.gallery-columns-1):not(.gallery-columns-2)
         .gallery-item {
            max-width: 33.33%;
        }
    }
}