$philosophy-blue: #0054a5;
$philosophy-black: #151515;
$philosophy-text: #656565;

$footer-text-color: rgba(white, .5);


@import 'content_fixes';

.s-extra {

    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select { 
        width: 100%;
    }

    .wgt {
        &:not(:first-child) {
            margin-top: 5rem;
        }
    }

    /* Widget: Calendar */
    .widget_calendar {
        thead th {
            text-align: center;
            background: $philosophy-blue;
            color: $footer-text-color;
            padding: 1.5rem;
            width: calc(100% / 7);
        }
        tbody td {
            text-align: center;
            padding: 1.5rem;

            &#today a {
                /*color: rgb(0, 84, 165);*/
                display: block;
                border-radius: 100%;
                border: 1px solid $philosophy-blue;
            }
        }
        tfoot td {
            padding: 1.5rem;

            &#prev {
                text-align: left;
            }

            &#next {
                text-align: right;
            }
        }
    }

    /* Widget: Gallery */
    .widget_media_gallery {
        .gallery-caption {
            display: none;
        }
        .gallery-item {
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            a {
                display: block;
                line-height: 0;
            }
        }
    }

    /* Widget: Tag Cloud */
    .widget_tag_cloud {
        .tagcloud a {
            font-size: 1.3rem !important;
        }
    }

}

footer {

    /* Anchor Style */
    a:hover {
        color: $philosophy-blue;
    }

    /* Button Style */
    a.btn,
    button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
        background-color: $philosophy-blue;
        border-color: $philosophy-blue;
        color: white;
    }
   
    /* Input Style */
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select {
        display: block;
        background: rgba(black, 0.1);
        padding: 1.2rem;
        color: $footer-text-color;
        border-radius: 3px;
        border: none;
        margin-bottom: 1.8rem;
        width: 100%;
    }

    select option {
        background: $philosophy-black;
        color: rgba(white, 0.75);
    }

    /* Form Element Style */
    label {
        color: $footer-text-color;

        /*
        input[type="checkbox"] {
            height: 0;
            overflow: hidden;
            width: 0;
            opacity: 0;
            pointer-events: none;
            & ~ span {
                &:before {
                    content: '\f0c8';
                    color: rgba(black, 0.1);
                    background: $philosophy-black;
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-right: 1rem;
                    height: 15px;
                    width: 15px;
                    line-height: 16px;
                    font-size: 18px;
                    border-radius: 3px;
                }
            }
            &:checked ~ span {
                &:before {
                    content: '\f14a';
                    color: $philosophy-blue;
                    background: white;
                }
            }
            
        }
        */
    }

    /* Footer Content */
    .s-footer__main {
        .wgt {
            &:not(.widget_pages):not(.widget_text) > ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            &:not(:first-child) {
                margin-top: 5rem;
            }
        }

        a {
            color: rgba(white, 0.4);

            &:hover {
                color: rgba(white, 1);
            }
            
        }

        .about__social li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: .5rem;
            }
            a i.fa {
                display: block;
                line-height: 5rem;
                width: 5rem;
                height: 5rem;
                text-align: center;
                background: $philosophy-blue;
                color: white;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background: $philosophy-black;
                }
            }
        }
        
    }

    /* Widget: Calendar */
    .widget_calendar {
        thead th {
            text-align: center;
            background: $philosophy-blue;
            color: $footer-text-color;
            padding: 1.5rem;
            width: calc(100% / 7);
        }
        tbody td {
            text-align: center;
            padding: 1.5rem;

            &#today a {
                /*color: rgb(0, 84, 165);*/
                display: block;
                border-radius: 100%;
                border: 1px solid $philosophy-blue;
            }
        }
        tfoot td {
            padding: 1.5rem;

            &#prev {
                text-align: left;
            }

            &#next {
                text-align: right;
            }
        }
    }

    /* Widget: Gallery */
    .widget_media_gallery {
        .gallery-caption {
            display: none;
        }
        .gallery-item {
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            a {
                display: block;
                line-height: 0;
            }
        }
    }

    /* Widget: Tag Cloud */
    .widget_tag_cloud {
        .tagcloud a {
            font-size: 1.3rem !important;
            font-family: "metropolis-extrabold", sans-serif;
            line-height: 3.6rem;
            letter-spacing: .2rem;
            text-transform: uppercase;
            border-radius: 3px;
            background: $philosophy-black;
            color: white;
            font-weight: bold;
            padding: 0 2rem;
            margin: 0 1rem 1rem 0;
            display: inline-block;

            &:hover {
                background-color: $philosophy-blue;
            }
        }
    }

    .widget_rss {
        h4 a {
            color: white;
            &:hover {
                color: $philosophy-blue;
            }
        }
        a {
            color: rgba(white, .75);
        }
        .rss-date {
            font-size: 1.25rem;
            color: $philosophy-blue;
        }
        cite:before {
            content: '\2014';
            margin-right: .5rem;
        }
        ul li:not(:first-child) {
            margin-top: 10px;
        }
    }

    .widget_recent_comments {
        .comment-author-link a {
            color: $philosophy-blue;
            &:hover {
                color: rgba(white, .75);
            }
        }
        .comment-author-link ~ a {
            color: rgba(white, .75);
            &:hover {
                color: $philosophy-blue;
            }
        }
    }
    
    
}
