.tag {
  /* color fix when a tag archive is shown */
  color: #656565; }

.s-content__tags {
  /* clear floated images before tags are displayed */
  clear: both; }

.s-content__main {
  /* Image Alignment */
  /* Gallery Layout */ }
  .s-content__main figure {
    margin: 1em auto 1.5em; }
    .s-content__main figure img {
      margin-top: 0;
      margin-bottom: 0;
      width: 100%; }
    .s-content__main figure.alignright {
      margin-left: 1.5em; }
    .s-content__main figure.alignleft {
      margin-right: 1.5em; }
  .s-content__main img.alignright {
    margin-left: 1.5em;
    margin-right: auto; }
  .s-content__main img.alignleft {
    margin-right: 1.5em;
    margin-left: auto; }
  .s-content__main img.aligncenter {
    margin-left: auto;
    margin-right: auto; }
  .s-content__main .gallery .gallery-item {
    box-sizing: border-box;
    padding: 5px;
    margin: 0; }
    .s-content__main .gallery .gallery-item .gallery-icon a {
      display: block;
      line-height: 0; }
    .s-content__main .gallery .gallery-item img {
      margin-left: auto; }

@media (max-width: 480px) {
  .s-content__main .gallery:not(.gallery-columns-1) .gallery-item {
    max-width: 50%; } }
@media (min-width: 481px) and (max-width: 800px) {
  .s-content__main .gallery:not(.gallery-columns-1):not(.gallery-columns-2)
  .gallery-item {
    max-width: 33.33%; } }
.s-extra {
  /* Widget: Calendar */
  /* Widget: Gallery */
  /* Widget: Tag Cloud */ }
  .s-extra input[type="email"],
  .s-extra input[type="number"],
  .s-extra input[type="search"],
  .s-extra input[type="text"],
  .s-extra input[type="tel"],
  .s-extra input[type="url"],
  .s-extra input[type="password"],
  .s-extra textarea,
  .s-extra select {
    width: 100%; }
  .s-extra .wgt:not(:first-child) {
    margin-top: 5rem; }
  .s-extra .widget_calendar thead th {
    text-align: center;
    background: #0054a5;
    color: rgba(255, 255, 255, 0.5);
    padding: 1.5rem;
    width: calc(100% / 7); }
  .s-extra .widget_calendar tbody td {
    text-align: center;
    padding: 1.5rem; }
    .s-extra .widget_calendar tbody td#today a {
      /*color: rgb(0, 84, 165);*/
      display: block;
      border-radius: 100%;
      border: 1px solid #0054a5; }
  .s-extra .widget_calendar tfoot td {
    padding: 1.5rem; }
    .s-extra .widget_calendar tfoot td#prev {
      text-align: left; }
    .s-extra .widget_calendar tfoot td#next {
      text-align: right; }
  .s-extra .widget_media_gallery .gallery-caption {
    display: none; }
  .s-extra .widget_media_gallery .gallery-item {
    box-sizing: border-box;
    padding: 5px;
    margin: 0; }
    .s-extra .widget_media_gallery .gallery-item a {
      display: block;
      line-height: 0; }
  .s-extra .widget_tag_cloud .tagcloud a {
    font-size: 1.3rem !important; }

footer {
  /* Anchor Style */
  /* Button Style */
  /* Input Style */
  /* Form Element Style */
  /* Footer Content */
  /* Widget: Calendar */
  /* Widget: Gallery */
  /* Widget: Tag Cloud */ }
  footer a:hover {
    color: #0054a5; }
  footer a.btn,
  footer button,
  footer input[type="button"],
  footer input[type="submit"],
  footer input[type="reset"] {
    background-color: #0054a5;
    border-color: #0054a5;
    color: white; }
  footer input[type="email"],
  footer input[type="number"],
  footer input[type="search"],
  footer input[type="text"],
  footer input[type="tel"],
  footer input[type="url"],
  footer input[type="password"],
  footer textarea,
  footer select {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: none;
    margin-bottom: 1.8rem;
    width: 100%; }
  footer select option {
    background: #151515;
    color: rgba(255, 255, 255, 0.75); }
  footer label {
    color: rgba(255, 255, 255, 0.5);
    /*
    input[type="checkbox"] {
        height: 0;
        overflow: hidden;
        width: 0;
        opacity: 0;
        pointer-events: none;
        & ~ span {
            &:before {
                content: '\f0c8';
                color: rgba(black, 0.1);
                background: $philosophy-black;
                font-family: FontAwesome;
                display: inline-block;
                margin-right: 1rem;
                height: 15px;
                width: 15px;
                line-height: 16px;
                font-size: 18px;
                border-radius: 3px;
            }
        }
        &:checked ~ span {
            &:before {
                content: '\f14a';
                color: $philosophy-blue;
                background: white;
            }
        }
        
    }
    */ }
  footer .s-footer__main .wgt:not(.widget_pages):not(.widget_text) > ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  footer .s-footer__main .wgt:not(:first-child) {
    margin-top: 5rem; }
  footer .s-footer__main a {
    color: rgba(255, 255, 255, 0.4); }
    footer .s-footer__main a:hover {
      color: white; }
  footer .s-footer__main .about__social li {
    display: inline-block; }
    footer .s-footer__main .about__social li:not(:last-child) {
      margin-right: .5rem; }
    footer .s-footer__main .about__social li a i.fa {
      display: block;
      line-height: 5rem;
      width: 5rem;
      height: 5rem;
      text-align: center;
      background: #0054a5;
      color: white;
      border-radius: 50%;
      transition: all 0.3s ease-in-out; }
      footer .s-footer__main .about__social li a i.fa:hover {
        background: #151515; }
  footer .widget_calendar thead th {
    text-align: center;
    background: #0054a5;
    color: rgba(255, 255, 255, 0.5);
    padding: 1.5rem;
    width: calc(100% / 7); }
  footer .widget_calendar tbody td {
    text-align: center;
    padding: 1.5rem; }
    footer .widget_calendar tbody td#today a {
      /*color: rgb(0, 84, 165);*/
      display: block;
      border-radius: 100%;
      border: 1px solid #0054a5; }
  footer .widget_calendar tfoot td {
    padding: 1.5rem; }
    footer .widget_calendar tfoot td#prev {
      text-align: left; }
    footer .widget_calendar tfoot td#next {
      text-align: right; }
  footer .widget_media_gallery .gallery-caption {
    display: none; }
  footer .widget_media_gallery .gallery-item {
    box-sizing: border-box;
    padding: 5px;
    margin: 0; }
    footer .widget_media_gallery .gallery-item a {
      display: block;
      line-height: 0; }
  footer .widget_tag_cloud .tagcloud a {
    font-size: 1.3rem !important;
    font-family: "metropolis-extrabold", sans-serif;
    line-height: 3.6rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-radius: 3px;
    background: #151515;
    color: white;
    font-weight: bold;
    padding: 0 2rem;
    margin: 0 1rem 1rem 0;
    display: inline-block; }
    footer .widget_tag_cloud .tagcloud a:hover {
      background-color: #0054a5; }
  footer .widget_rss h4 a {
    color: white; }
    footer .widget_rss h4 a:hover {
      color: #0054a5; }
  footer .widget_rss a {
    color: rgba(255, 255, 255, 0.75); }
  footer .widget_rss .rss-date {
    font-size: 1.25rem;
    color: #0054a5; }
  footer .widget_rss cite:before {
    content: '\2014';
    margin-right: .5rem; }
  footer .widget_rss ul li:not(:first-child) {
    margin-top: 10px; }
  footer .widget_recent_comments .comment-author-link a {
    color: #0054a5; }
    footer .widget_recent_comments .comment-author-link a:hover {
      color: rgba(255, 255, 255, 0.75); }
  footer .widget_recent_comments .comment-author-link ~ a {
    color: rgba(255, 255, 255, 0.75); }
    footer .widget_recent_comments .comment-author-link ~ a:hover {
      color: #0054a5; }

/*# sourceMappingURL=custom.css.map */
